.cell
  width: 16px
  height: 16px
  border: 1px solid #222
  position: relative

  &.uncovered
    background: #666

  &::after
    position: absolute
    font-size: 10px
    display: none

  &.game-over::after
    display: block

  &.has-mine::after
    content: '💣'

  &.exploded::after
    content: '💥'

  &.flagged::after
    content: '🚩'
    display: block

  span.cross
    position: absolute
    top: 0
    left: -1px
    font-size: 12px
    line-height: 15px
    z-index: 2

